---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<BaseLayout title="Astro Blog Skeleton" description="Welcome to your new Astro-powered blog!">
			<h1>Welcome to Astro Blog Skeleton 🚀</h1>
			<p>This is your homepage. Start building your blog with Astro + React integration!</p>
		</BaseLayout>
	</body>
</html>
